# Odd Or Even

In [10]:
def OddEven(*Numbers):
    for i in Numbers:
        print(f"Number : {i} is ",end="")
        if(i == 0):
            print("not Even or Odd")
        elif(i & 1 == 1):
            print("Odd")
        else:
            print("Even")

In [11]:
OddEven(5)

Number : 5 is Odd

In [12]:
OddEven(5,66,8,9,1,0)

Number : 5 is Odd
Number : 66 is Even
Number : 8 is Even
Number : 9 is Odd
Number : 1 is Odd
Number : 0 is not Even or Odd

# Swapping two variables without temp

In [ ]:
def Swap(a,b):
    a = a^b
    b = a^b
    a = a^b
    print(a,b)

In [14]:
Swap(5,3)

(3, 5)

# Find single non-repeating element

In [17]:
print(3 ^ 3)
print(10 ^ 10)

0
0

In [29]:
def Check(*nums):
    print(type(nums))
    
    Repeated = 0
    for i in nums:
        Repeated ^= i
    print(Repeated)

In [32]:
Check(1,2,3,4,4,3,1,8)

<class 'tuple'>
10

In [54]:
for i in range(20):
    print(f"1 ^ {i} : {1^i} \t 2 ^ {i} : {2^i} \t 3 ^ {i} : {3^i} \t 4 ^ {i} : {4^i} \t 5 ^ {i} : {5^i}/t")

1 ^ 0 : 1 	 2 ^ 0 : 2 	 3 ^ 0 : 3 	 4 ^ 0 : 4 	 5 ^ 0 : 5/t
1 ^ 1 : 0 	 2 ^ 1 : 3 	 3 ^ 1 : 2 	 4 ^ 1 : 5 	 5 ^ 1 : 4/t
1 ^ 2 : 3 	 2 ^ 2 : 0 	 3 ^ 2 : 1 	 4 ^ 2 : 6 	 5 ^ 2 : 7/t
1 ^ 3 : 2 	 2 ^ 3 : 1 	 3 ^ 3 : 0 	 4 ^ 3 : 7 	 5 ^ 3 : 6/t
1 ^ 4 : 5 	 2 ^ 4 : 6 	 3 ^ 4 : 7 	 4 ^ 4 : 0 	 5 ^ 4 : 1/t
1 ^ 5 : 4 	 2 ^ 5 : 7 	 3 ^ 5 : 6 	 4 ^ 5 : 1 	 5 ^ 5 : 0/t
1 ^ 6 : 7 	 2 ^ 6 : 4 	 3 ^ 6 : 5 	 4 ^ 6 : 2 	 5 ^ 6 : 3/t
1 ^ 7 : 6 	 2 ^ 7 : 5 	 3 ^ 7 : 4 	 4 ^ 7 : 3 	 5 ^ 7 : 2/t
1 ^ 8 : 9 	 2 ^ 8 : 10 	 3 ^ 8 : 11 	 4 ^ 8 : 12 	 5 ^ 8 : 13/t
1 ^ 9 : 8 	 2 ^ 9 : 11 	 3 ^ 9 : 10 	 4 ^ 9 : 13 	 5 ^ 9 : 12/t
1 ^ 10 : 11 	 2 ^ 10 : 8 	 3 ^ 10 : 9 	 4 ^ 10 : 14 	 5 ^ 10 : 15/t
1 ^ 11 : 10 	 2 ^ 11 : 9 	 3 ^ 11 : 8 	 4 ^ 11 : 15 	 5 ^ 11 : 14/t
1 ^ 12 : 13 	 2 ^ 12 : 14 	 3 ^ 12 : 15 	 4 ^ 12 : 8 	 5 ^ 12 : 9/t
1 ^ 13 : 12 	 2 ^ 13 : 15 	 3 ^ 13 : 14 	 4 ^ 13 : 9 	 5 ^ 13 : 8/t
1 ^ 14 : 15 	 2 ^ 14 : 12 	 3 ^ 14 : 13 	 4 ^ 14 : 10 	 5 ^ 14 : 11/t
1 ^ 15 : 14 	 2 ^ 15 : 13 	 3 ^ 15 : 12 	 4 ^ 15 : 11 	 5 ^ 15 : 10/t
1 ^ 16 : 17 	 2 ^ 16 : 18 	 3 ^ 16 : 19 	 4 ^ 16 : 20 	 5 ^ 16 : 21/t
1 ^ 17 : 16 	 2 ^ 17 : 19 	 3 ^ 17 : 18 	 4 ^ 17 : 21 	 5 ^ 17 : 20/t
1 ^ 18 : 19 	 2 ^ 18 : 16 	 3 ^ 18 : 17 	 4 ^ 18 : 22 	 5 ^ 18 : 23/t
1 ^ 19 : 18 	 2 ^ 19 : 17 	 3 ^ 19 : 16 	 4 ^ 19 : 23 	 5 ^ 19 : 22/t