# Average or  Mean of a List

In [17]:
def Mean(List):
    Sum = 0
    count = 0
    for i in List:
        Sum += i
        count += 1
    return Sum/count

In [18]:
Mean([10,20,30,40])

25.0

# Seperate Even And Odd

In [19]:
def EvenOddSeperation(List):
    Even = []
    Odd = []
    for i in List:
        if(i % 2 == 0):
            Even.append(i)
        else:
            Odd.append(i)
    return Even,Odd

In [20]:
Even,Odd = EvenOddSeperation([10,20,30,40,2,3,5,7])
print("Even : ",Even)
print("Odd : ",Odd)

Even :  [10, 20, 30, 40, 2]
Odd :  [3, 5, 7]

# Smallest value

In [21]:
def Min(List):
    Min = List[0]
    for i in List:
        if(i < Min):
            Min = i
    return Min

In [22]:
Min([10,20,30,40,2,3,5,7])

2

# Smaller Than X

In [23]:
def Smaller(List,X):
    Output = []
    for i in List:
        if(i < X):
            Output.append(i)
    return Output

In [24]:
Smaller([10,20,30,40,2,3,5,7],20)

[10, 2, 3, 5, 7]

# Compretension

In [25]:
def OnlyEven(List):
    L1 = [i for i in List if i % 2 == 0]
    return L1

In [26]:
OnlyEven([10,20,30,40,2,3,5,7])

[10, 20, 30, 40, 2]

# Largest

In [27]:
def Largest(List):
    if not List:
        return None
    Max = List[0]
    for i in List:
        if(i > Max):
            Max = i
    return Max

In [28]:
Largest([])

In [29]:
Largest([10,20,30,40,2,3,5,7])

40

# Secaond Largest

In [30]:
def SecondLargest(List):
    if not List:
        return None
    lar = List[0]
    slar = None
    
    for i in List[1:]:
        if(i > lar):
            slar = lar
            lar = i
        elif(i != lar):
            if(slar is None or i > slar):
                slar = i
    return lar,slar

In [47]:
Max,Max2 = SecondLargest([20,3,4,23,3,5,21])
print("Max : ",Max)
print("Max 2 :",Max2)

Max :  23
Max 2 : 21

# is Sorted

In [32]:
def isSorted(arr,):
        check = None
        for i in range(len(arr)-1):
            if(arr[i] > arr[i+1]):
                if(check == None):
                    check = False
                elif(check):
                    return 0
            elif(arr[i] < arr[i+1]):
                if(check == None):
                    check = True
                elif(not check):
                    return 0
        else:
            return 1

In [33]:
isSorted([1,2,3,4])

1

# Reverse

In [34]:
def reverse(List):
    i = 0
    j = len(List)-1
    while i < j:
        List[i],List[j] = List[j],List[i]
        i += 1
        j -= 1
    return List

In [35]:
reverse([10,20,30,40,2,3,5,7])

[7, 5, 3, 2, 40, 30, 20, 10]

# Remove Duplicates

In [50]:
def RemoveDuplicates(List,Size):
    Val = 1
    for i in range(1,Size):
        if(List[i-1] != List[i]):
            List[Val] = List[i]
            Val += 1
            print(Val,List)
    return Val

In [51]:
RemoveDuplicates([10,20,20,30,30,30,30],7)

2 [10, 20, 20, 30, 30, 30, 30]
3 [10, 20, 30, 30, 30, 30, 30]

3

In [38]:
def LeftRotate(List):
    Temp = List[0]
    for i in range(1,len(List)):
        List[i-1] = List[i]
    List[-1] = Temp
    return List

In [39]:
LeftRotate([1,2,3,4,5])

[2, 3, 4, 5, 1]

In [40]:
def gfg(x,li=[]): 
	for i in range(x): 
		li.append(i*i) 
	print(li) 

gfg(3,[3,2,1])

[3, 2, 1, 0, 1, 4]

In [41]:
# statement 1
li = list(range(100, 110))

# statement 2
print (li.index(105))

5

In [42]:
print(li)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]

In [43]:
a = [1998, 2002] 
b = [2014, 2016] 

print ((a + b)*2)

[1998, 2002, 2014, 2016, 1998, 2002, 2014, 2016]

In [44]:
a = [1, 2, 3, None, (1, 2, 3, 4, 5), ['Geeks', 'for', 'Geeks']] 
print(len(a))

6